<div class="add-container">
    <div class="section-title">Add product</div>

    <div class="inputs">

        <input class="input-text" [(ngModel)]="name" name="name" placeholder="name" type="text" maxlength="180">


        <mat-select class="input-select" [(ngModel)]="selectedProducers" name="type" placeholder="producers" multiple>
            <mat-option *ngFor="let producer of producers" [value]="producer">{{producer.name}}</mat-option>
        </mat-select>
    </div>


    <button (click)="addProduct()" type="submit">add product</button>
</div>
